<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>My Website</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    </head>
  <body class="d-flex h-100 text-center text-muted bg-dark">
        
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
        <h3 class="float-md-start mb-0">Generator</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/bad_password_generator">Bad Password Generate</a>
            <a class="nav-link" href="/number_survival">Number Game</a>
        </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Hey There.</h1>
        <p class="lead">Here's some projects I've been working on.</p>
        <p class="lead">I hope you have fun!</p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Created By Jacob Barton.</p>
    </footer>
    </div>
    </body>
</html>